.header {
    font-family: Montserrat;
    font-weight: 500;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), transparent;
    position: absolute;
}
.dexs{
    position: absolute;
    z-index: -1;
    height: inherit;
    width: inherit;
    background-size: cover;
    background-image: url(bg.jpg);
}
.navbar.scroll {
    background-color: rgba(0,0,0,0.8) !important;
    
    border-bottom: thin solid rgba(0,0,0,0.2);
}
body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}
.gi {
    border-radius: 12px;
    height: 48px !important;
    margin-top: 24px;
    margin-left: 16px;
    line-height: 48px !important;
    background-color: rgba(255,255,255,0.1)
}
.navbar {
    height: 96px;
    width: 100%;
    position: fixed;
    top: 0;
    background:  transparent;
    padding-right: 64px;
    box-sizing: border-box;
    border-bottom: thin solid rgba(255,255,255,0.2);
    transition: 1s;
}
.hcontent {
    min-height: calc(100% - 96px);
    width: 100%;
	margin-top: 96px;
    color: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 64px; 
    text-align: justify;
    padding-right: 40%
}
.navitem{
    height: 96px;
    width: auto;
    box-sizing: border-box;
    line-height: 96px;
    color: #fff;
    
    cursor: pointer;
    transition: 0.3s;
    display: block;
    float: right;
    padding: 0px 24px;

}
.navitem:hover{
    background-color: rgba(255,255,255,0.1)
}
.gi:hover {
    background-color: #E91E63;
    border-radius: 48px;
}
@media(max-width: 880px){
	.navitem{
		display: none;
	}
	.header{
		height: fit-content;
		min-height: 100%;
	}
	.hcontent{
		width: 100%;
		text-align: center;
		align-items: center;
		justify-content: start;
		padding-right: inherit;
		padding: 48px;
	}
}